@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 14px;
}

//GLOBAL STYLES
.flex1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  border-radius: 2rem;
  background-color: #49cb5c;
  padding: 0.8rem 1.6rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--whiteColor);
  border: 1px solid var(--whiteColor);
  text-align: center;

  &:hover {
    background-color: var(--hoverColor);
    transition: 1s ease;
  }
}

.showMessage {
  text-align: center;
  padding: 1rem 2rem;
  background-color: red;
  border-radius: 1rem;
  color: var(--whiteColor);
  font-weight: bold;
}

.hiddenMessage {
  display: none;
}

//COMPONENTS STYLES

//ADMIN STYLES
.admin {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-color: var(--whiteColor);

  .div {
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;

    .btn {
      flex-direction: column;
      justify-content: center;
      width: 35%;
      height: 20vh;

      * {
        color: var(--whiteColor);
      }

      .icon {
        font-size: 2.5rem;
      }
    }
  }
}

.adminUsers {
  position: absolute;
  left: 0;
  margin-top: 12vh;
  width: 100%;
  border: 1px solid var(--blackColor);

  th {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
  }

  td,
  th {
    border: 1px solid var(--blackColor);
    padding: 0.2rem 1rem;

    select {
      border: none;
    }

    button {
      width: 100%;
    }
  }

  .center {
    text-align: center;
  }

  img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
  }
}

.adminDatas {
  padding: 5vh 10vw;
  margin-top: 10vh;
  background-color: var(--whiteColor);
  justify-content: center;
  min-height: 90vh;
  width: 100%;
  flex-wrap: wrap;

  .div {
    text-align: center;
    height: 38vh;
    flex: 1 1 21rem;
    background-color: var(--primaryColor);
    padding: 1rem 2rem;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;

    * {
      color: white;
    }
  }

  .divList {
    text-align: start;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 10px;
  }

  .principal {
    header {
      .suggestContainer {
        top: 5.7rem;
      }

      .principalBtn {
        h1 {
          display: none;
        }
      }
    }
  }

  .loginPage,
  .registerPage {
    .container {
      height: 90%;
      width: 90%;
      min-width: 0;
      flex-direction: column;

      .leftDiv {
        min-width: 100%;
        height: 50%;
        margin-bottom: 2rem;

        .footerDiv {
          height: 4rem;
        }
      }
    }
  }

  .search {
    .filters {
      padding: 1rem;
    }
  }

  .viewProduct {
    .viewProduct1 {
      flex-direction: column;

      img {
        width: 100%;
      }

      .productInfo {
        width: 100%;
      }
    }
  }
}
