@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primaryColor: #49cb5c;
  --hoverColor: #baeb6c;
  --whiteColor: #f2f2f2;
  --blackColor: #3d3d3d;
  --greyColor: #c9c9c9;
  --widthHeaderBut: 12rem;
  --widthHeaderInput: 25vw;
}

html {
  font-size: 14px;
}

//GLOBAL STYLES
.flex1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  border-radius: 2rem;
  background-color: #49cb5c;
  padding: 0.8rem 1.6rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--whiteColor);
  border: 1px solid var(--whiteColor);
  text-align: center;

  &:hover {
    background-color: var(--hoverColor);
    transition: 1s ease;
  }
}

.showMessage {
  text-align: center;
  padding: 1rem 2rem;
  background-color: red;
  border-radius: 1rem;
  color: var(--whiteColor);
  font-weight: bold;
}

.hiddenMessage {
  display: none;
}

//COMPONENTS STYLES

.listProducts {
  position: relative;
  left: 27%;
  flex-direction: column;
  width: 71vw;
  gap: 2rem;

  .div1 {
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    flex-direction: column;

    .productComp1,
    .productComp2 {
      width: 100%;
      border-radius: 1rem;
      justify-content: space-between;

      img {
        height: 10rem;
        border-radius: 1rem;
        width: 20vw;
        min-width: 10rem;
        max-width: 18rem;
        object-fit: cover;
        margin-right: 1rem;
      }

      .div {
        align-items: flex-start;
        flex-direction: column;
      }

      button {
        background-color: var(--primaryColor);
        border-radius: 1rem;
        justify-content: center;
        min-width: 8rem;
        height: 4rem;
        color: var(--whiteColor);
        font-weight: bold;
        font-size: 1rem;
      }

      button:hover {
        background-color: var(--hoverColor);
      }

      .red:hover {
        background-color: red;
      }
    }

    .productComp2:hover {
      background-color: var(--whiteColor);
    }
  }

  .btn {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .disabled {
    background-color: var(--hoverColor);
  }
}

//PAGES STYLES
.loginPage {
  height: 100vh;
  justify-content: center;
  background-color: var(--whiteColor);

  .container {
    height: 75vh;
    width: 60%;
    min-width: 700px;
    border-radius: 1rem;
    background-color: white;

    .leftDiv {
      justify-content: center;
      flex-direction: column;
      min-width: 50%;
      height: 100%;
      padding: 5rem 4vw;
      gap: 2rem;
      border-radius: 1rem;
      background: var(--primaryColor);

      * {
        color: var(--whiteColor);
      }

      .headerDiv {
        margin-top: 3rem;
        flex-direction: column;

        img {
          width: 5rem;
        }
      }

      .textDiv {
        text-align: center;
        flex-direction: column;
      }
    }

    form {
      flex-direction: column;
      padding: 4vw;
      gap: 2rem;

      .div1 {
        flex-direction: column;
      }

      .inputContainer {
        flex-direction: column;
        align-items: flex-start;

        .inputDiv {
          background-color: var(--whiteColor);
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          width: 100%;
        }
      }

      button {
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 0.5rem;
        background-color: #3d3d3d;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.principal {
  gap: 0;
  flex-direction: column;

  footer {
    position: relative;
    bottom: 0;
    background-color: var(--primaryColor);
    width: 100%;
    padding: 1.5rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    height: 12vh;
    z-index: -1;
    justify-content: center;
    gap: 0.5rem;

    * {
      color: var(--whiteColor);
    }
  }
}

.page {
  background-color: var(--whiteColor);
  gap: 4rem;
  flex-direction: column;
  width: 100%;
  padding-top: 22vh;
  min-height: 88vh;
}

.home {
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  padding-bottom: 10vh;
}

.search {
  padding: 14vh 1vw 2vh;

  .filters {
    align-items: flex-start;
    position: fixed;
    background-color: white;
    padding: 2rem;
    flex-direction: column;
    width: 25%;
    align-items: flex-start;
    gap: 3rem;
    border-radius: 1rem;

    .conteiner {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;

      .justify {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}

.viewProduct {
  padding: 14vh 4vw 2vh;
  gap: 2vh;

  .viewProduct1 {
    padding: 2vh;
    background-color: white;
    border-radius: 1rem;
    gap: 2rem;
    width: 81vw;

    img {
      height: 50vh;
      object-fit: cover;
      width: 45%;
      border-radius: 1rem;
    }

    .productInfo {
      flex-direction: column;
      align-items: flex-start;
    }

    .showQuantity {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;

      form {
        border-radius: 0.8rem;
        overflow: hidden;
        border: 1px solid var(--greyColor);

        input {
          border: none;
          padding: 0.5rem;
          width: 15rem;
        }

        button {
          padding: 0.5rem 1rem;
          background-color: var(--primaryColor);

          * {
            color: white;
          }
        }

        button:hover {
          background-color: var(--hoverColor);
        }
      }
    }
  }
}

.buyProduct {
  padding: 12vh 4vw 2vh;
  justify-content: center;
  flex-direction: row;
  gap: 2vw;

  .leftConteiner {
    flex-direction: column;

    form {
      background-color: white;
      padding: 1rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;

      .inputConteiner {
        border-radius: 1rem;
        border: 1px solid var(--greyColor);
        overflow: hidden;

        .Input {
          width: 100%;
        }

        input {
          border: none;
          padding: 0.5rem;
          width: 50%;
        }

        .input1 {
          border-bottom: 1px solid var(--greyColor);
        }

        .input2 {
          border-left: 1px solid var(--greyColor);
        }
      }
    }
  }

  table {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    padding-bottom: 0;

    tr {
      gap: 2rem;
      margin-bottom: 1rem;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}

.shoppingCart {
  padding: 16vh 4vw 4vh;
  gap: 2rem;

  .listProducts {
    left: 0;
    width: 100%;
    max-width: 1000px;

    button {
      min-height: 10rem;
    }
  }

  .div1 {
    max-width: 1000px;
    width: 100%;

    button {
      padding: 1.2rem;
      font-size: 1rem;
      width: 50%;
    }
  }
}

.profilePurchases {
  .divPurchases {
    gap: 1rem;
    flex-direction: column;

    .listProducts {
      left: 0;
      width: 100%;
    }
  }

  .divPurchases2 {
    width: 100%;
    gap: 2rem;
    flex-direction: column;

    * {
      color: var(--greyColor);
      text-align: center;
    }

    .icon {
      font-size: 10rem;
    }
  }
}

//ADMIN STYLES
.admin {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-color: var(--whiteColor);

  .div {
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;

    .btn {
      flex-direction: column;
      justify-content: center;
      width: 35%;
      height: 20vh;

      * {
        color: var(--whiteColor);
      }

      .icon {
        font-size: 2.5rem;
      }
    }
  }
}

.adminUsers {
  position: absolute;
  left: 0;
  margin-top: 12vh;
  width: 100%;
  border: 1px solid var(--blackColor);

  th {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
  }

  td,
  th {
    border: 1px solid var(--blackColor);
    padding: 0.2rem 1rem;

    select {
      border: none;
    }

    button {
      width: 100%;
    }
  }

  .center {
    text-align: center;
  }

  img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
  }
}

.adminDatas {
  padding: 5vh 10vw;
  margin-top: 10vh;
  background-color: var(--whiteColor);
  justify-content: center;
  min-height: 90vh;
  width: 100%;
  flex-wrap: wrap;

  .div {
    text-align: center;
    height: 38vh;
    flex: 1 1 21rem;
    background-color: var(--primaryColor);
    padding: 1rem 2rem;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;

    * {
      color: white;
    }
  }

  .divList {
    text-align: start;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 10px;
  }

  .principal {
    header {
      .suggestContainer {
        top: 5.7rem;
      }

      .principalBtn {
        h1 {
          display: none;
        }
      }
    }
  }

  .loginPage,
  .registerPage {
    .container {
      height: 90%;
      width: 90%;
      min-width: 0;
      flex-direction: column;

      .leftDiv {
        min-width: 100%;
        height: 50%;
        margin-bottom: 2rem;

        .footerDiv {
          height: 4rem;
        }
      }
    }
  }

  .search {
    .filters {
      padding: 1rem;
    }
  }

  .viewProduct {
    .viewProduct1 {
      flex-direction: column;

      img {
        width: 100%;
      }

      .productInfo {
        width: 100%;
      }
    }
  }
}
