@import "tailwindcss";

@theme {
  --color-primary: #49cb5c;
  --color-hover: #baeb6c;
  --color-bg: #f2f2f2;
  --color-fg: #3d3d3d;
}

button {
  @apply cursor-pointer;
}

input {
  @apply focus:outline-0 px-5 py-3 bg-bg;
}

.btn-1 {
  @apply text-white px-5 py-3 hover:bg-hover border border-bg rounded-full;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}
