@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-primary: #49cb5c;
  --color-hover: #baeb6c;
  --color-bg: #f2f2f2;
  --color-fg: #3d3d3d;
}

html {
  @apply text-[0.6rem] md:text-sm;
}

button {
  @apply cursor-pointer;
}

input {
  @apply focus:outline-0 px-5 py-3;
}

.btn-1 {
  @apply text-white px-5 py-3 bg-primary hover:bg-hover border border-bg rounded-2xl font-bold;
}

.btn-red {
  @apply text-white px-5 py-3 bg-red-500 hover:bg-red-600 border border-bg rounded-2xl font-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

.showMessage {
  @apply text-center py-4 px-8 bg-red-500 rounded-2xl text-white font-bold;
}

.hiddenMessage {
  @apply hidden;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}
